<ng-container *ngIf="isVisible">
  <div class="validation-indicator">
    <mat-icon [matTooltip]="tooltipText"
              color="warn">
      error
    </mat-icon>
    {{text}}
  </div>
</ng-container>
