<ng-container *ngIf="nicknamesLocal?.length; else noData">
  <form [formGroup]="dynamicForm">
    <table [dataSource]="dataSource" class="mat-elevation-z2" mat-table>
      <!-- nicknameId Column -->
      <ng-container *ngIf="displayInternalFields" matColumnDef="nicknameId">
        <th *matHeaderCellDef mat-header-cell>ID</th>
        <td *matCellDef="let element" mat-cell> {{element.nicknameId}} </td>
      </ng-container>

      <!-- nickname Column -->
      <ng-container matColumnDef="nickname">
        <th *matHeaderCellDef mat-header-cell>Nickname</th>
        <td *matCellDef="let element" class="input-container" mat-cell>
          <input (change)="updateNickname(element, $event)"
                 [attr.id]="getNicknameFieldName(element.nicknameId)"
                 [formControlName]="getNicknameFieldName(element.nicknameId)"
                 [maxlength]="NICKNAME_LENGTH"
                 [placeholder]="getPlaceholderForNicknameField(element.nicknameId)"
                 [class.invalid]="getNicknameField(element.nicknameId).invalid"
                 autocomplete="off"
                 class="full-width"
                 type="text">
          <app-validation-indicator
            [isVisible]="getNicknameField(element.nicknameId).errors?.required && element.nicknameId !== this.NEW_NICKNAME_ID"
            tooltipText="The nickname is required"></app-validation-indicator>
          <app-validation-indicator
            [isVisible]="getNicknameField(element.nicknameId).errors?.nicknameNotUnique"
            tooltipText="Please provide a unique nickname. This one is alreay in use."></app-validation-indicator>
        </td>
      </ng-container>

      <!-- sortingOrder Column -->
      <ng-container matColumnDef="sortingOrder">
        <th *matHeaderCellDef mat-header-cell>Sorting Order</th>
        <td *matCellDef="let element" mat-cell>
          {{element.sortingOrder}}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="removeNickname(element)"
                  *ngIf="element.nicknameId !== NEW_NICKNAME_ID"
                  aria-label="Remove nickname"
                  mat-icon-button
                  matTooltip="Remove nickname"
                  type="button">
            <mat-icon aria-hidden="false">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <div class="has-margin-top">
      <app-validation-indicator [isVisible]="dynamicForm.invalid"
                                text="The form is not valid. Please check the highlighted fields">
      </app-validation-indicator>
    </div>
    <div class="has-margin-top">
      <button (click)="onSubmit()"
              [disabled]="dynamicForm.invalid"
              color="primary"
              mat-button>
        Save
      </button>

      <button (click)="resetForm()"
              mat-button>
        Reset
      </button>
    </div>
  </form>
</ng-container>

<ng-template #noData>
  <div class="no-data">
    <mat-icon>info</mat-icon>
    No nicknames yet. Why don't you create a new one?
  </div>
</ng-template>
