<h1>Buildings Overview</h1>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input #input (keyup)="applyFilter($event)" matInput placeholder="Fulltext search">
</mat-form-field>

<table [dataSource]="dataSource" class="mat-elevation-z2" mat-table>
  <!-- buildingId Column -->
  <ng-container matColumnDef="buildingId">
    <th *matHeaderCellDef mat-header-cell> ID</th>
    <td *matCellDef="let element" mat-cell> {{element.buildingId}} </td>
  </ng-container>

  <!-- buildingName Column -->
  <ng-container matColumnDef="buildingName">
    <th *matHeaderCellDef mat-header-cell> Name of the building</th>
    <td *matCellDef="let element" mat-cell> {{element.buildingName}} </td>
  </ng-container>


  <!-- Address Column -->
  <ng-container matColumnDef="address">
    <th *matHeaderCellDef mat-header-cell>Address</th>
    <td *matCellDef="let element" mat-cell>
      <app-address [address]="element.address"></app-address>
    </td>
  </ng-container>

  <!-- Nicknames Column -->
  <ng-container matColumnDef="nicknames">
    <th *matHeaderCellDef mat-header-cell>Nicknames</th>
    <td *matCellDef="let element" mat-cell> {{element.nicknames?.length || 0}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button type="button"
              mat-icon-button
              matTooltip="Edit the nicknames"
              aria-label="Edit the nicknames"
              (click)="editBuildingNicknames.emit(element)">
        <mat-icon aria-hidden="false" >edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row [ngClass]="{'row-active': row.buildingId == selectedBuilding.buildingId}" ></tr>

  <!-- Row shown when there is no matching data. -->
  <tr *matNoDataRow class="mat-row">
    <td class="mat-cell" colspan="4">No data matching the given filter <b>"{{input.value}}"</b></td>
  </tr>
</table>
