.mat-column-buildingId {
  width: 5%
}
.mat-column-buildingName {
  width: 20%
}
.mat-column-address {
  width: 20%
}
.mat-column-description {
  width: 30%
}
.mat-column-action {
  text-align: right;
  width: 5%
}
