<div class="toolbar" role="banner">
  <img alt="Swiss Re Insurance Group > Buildings Manager" src="/swissre-work-assignement-10/building-management/src/assets/img/SR_Logo_Group.png">
  <span>Buildings Management (Code Assignement - Gina Mako)</span>
  <div class="spacer"></div>
</div>
