<ng-container *ngIf="selectedBuilding">
  <div class="has-margin-top building-detail">
    <h3>Building Details</h3>

    <mat-card>
      <mat-card-header class="no-margin">
        <mat-card-title>{{selectedBuilding.buildingName}}</mat-card-title>
        <mat-card-subtitle>
          <app-address
            [address]="selectedBuilding.address"
            [renderFlat]="true"></app-address>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{selectedBuilding.description}}
        </p>
        <app-nicknames-editor
          (saveNicknames)="saveNicknames.emit($event)"
          [nicknames]="selectedBuilding.nicknames"></app-nicknames-editor>
      </mat-card-content>
    </mat-card>

  </div>
</ng-container>
