@import "variables";
@import "mixins";
@import "placeholders";
@import "material";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: $font-color;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  border-bottom: 1px solid $nav-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $nav-background;
  color: $nav-color;
  font-weight: 600;

  img {
    margin: 0 16px;
  }

  #twitter-logo {
    height: 40px;
    margin: 0 16px;
    color: $accent-color;

    &:hover {
      opacity: 0.8;
    }
  }
}


.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;

  &.card-small {
    height: 16px;
    width: 168px;
  }
}

.card-container {
  .card:not(:last-child) {
    margin-right: 0;
  }

  .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    @include box-shadow(0, 4px, 17px, rgba(0, 0, 0, 0.35));
  }

  .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }
}

.card.highlight-card {
  background-color: $accent-color;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg {
  &#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  &#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  &#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }
}

a,
a:visited,
a:hover {
  color: $accent-color;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);

  &:before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;

  a {
    display: flex;
    align-items: center;
  }

}

.content-container {
  padding: 100px 20px 20px 20px;
}

table,
.mat-form-field {
  @extend %full-width;
}

.full-width {
  @extend %full-width;
}

mat-cell {
  > .ellipsis {
    @include ellipsis();
  }
}

.has-margin-top {
  margin-top: $grid-size;
}

.no-data {
  color: $info-color;
  display: flex;
  align-content: center;
  justify-content: center;
}

.no-margin {
  margin: 0;
}

.row-active {
  background-color: $positive-color;
}

.input-container {
  position: relative;

  input {
    font-size: 1.25em;
  }

  .validation-indicator {
    position: absolute;
    top: 12px;
    right: 0;
  }
}

.invalid {
  border: 1px solid $error;
}

.mat-tooltip {
  font-size: 1.2em;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
